<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">

            <div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="./assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
                    <div class="user-details">
                        <div id="more-details">Nombre de Usuario <i class="fa fa-caret-down"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-unstyled">
                        <!-- <li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
                        <li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li> -->
                        <li class="list-group-item"><a routerLink="/login"><i class="feather icon-log-out m-r-5"></i>Salir</a></li>
                    </ul>
                </div>
            </div>

            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item pcoded-menu-caption">
                    <label>Menu de Navegacion</label>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">

                        <span class="pcoded-micon"><i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Tableros</span>
                    </a>
                    <!-- </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-layout"></i>
                        </span>
                        <span class="pcoded-mtext">Page layouts</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li><a href="layout-vertical.html" target="_blank">Vertical</a></li>
                        <li><a href="layout-horizontal.html" target="_blank">Horizontal</a></li>
                    </ul>
                </li> -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Operaciones</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-box"></i>
                        </span><span class="pcoded-mtext">mantenimientos</span></a>
                        <ul class="pcoded-submenu">
                            <li><a routerLink="medicos">Medicos</a></li>
                            <li><a routerLink="pacientes">Pacientes</a></li>
                            <li><a routerLink="usuarios">Usuarios</a></li>

                        </ul>
                    </li>



            </ul>



        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->